In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Feature dataset so we will remove label ie target ie price
test = pd.read_excel('Data_Test.xlsx')
train = pd.read_excel('Data_Train.xlsx')

In [3]:
train.iloc[:,:-1]

,Title,Author,Edition,Reviews,Ratings,Synopsis,Genre,BookCategory
0,The Prisoner's Gold (The Hunters 3),Chris Kuzneski,"Paperback,– 10 Mar 2016",4.0 out of 5 stars,8 customer reviews,THE HUNTERS return in their third brilliant no...,Action & Adventure (Books),Action & Adventure
1,Guru Dutt: A Tragedy in Three Acts,Arun Khopkar,"Paperback,– 7 Nov 2012",3.9 out of 5 stars,14 customer reviews,A layered portrait of a troubled genius for wh...,Cinema & Broadcast (Books),"Biographies, Diaries & True Accounts"
2,Leviathan (Penguin Classics),Thomas Hobbes,"Paperback,– 25 Feb 1982",4.8 out of 5 stars,6 customer reviews,"""During the time men live without a common Pow...",International Relations,Humour
3,A Pocket Full of Rye (Miss Marple),Agatha Christie,"Paperback,– 5 Oct 2017",4.1 out of 5 stars,13 customer reviews,A handful of grain is found in the pocket of a...,Contemporary Fiction (Books),"Crime, Thriller & Mystery"
4,LIFE 70 Years of Extraordinary Photography,Editors of Life,"Hardcover,– 10 Oct 2006",5.0 out of 5 stars,1 customer review,"For seven decades, ""Life"" has been thrilling t...",Photography Textbooks,"Arts, Film & Photography"
...,...,...,...,...,...,...,...,...
6232,Humans: A Brief History of How We F*cked It Al...,Tom Phillips,"Paperback,– 8 Aug 2018",5.0 out of 5 stars,2 customer reviews,'F*cking brilliant' Sarah Knight\n'Very funny'...,Anthropology (Books),Humour
6233,The Chemist,Stephenie Meyer,"Paperback,– 21 Nov 2016",3.3 out of 5 stars,9 customer reviews,"In this gripping page-turner, an ex-agent on t...",Contemporary Fiction (Books),"Crime, Thriller & Mystery"
6234,The Duke And I: Number 1 in series (Bridgerton...,Julia Quinn,"Paperback,– 8 Jun 2006",3.8 out of 5 stars,3 customer reviews,'The most refreshing and radiant love story yo...,Romance (Books),Romance
6235,Frostfire (Kanin Chronicles),Amanda Hocking,"Paperback,– 15 Jan 2015",3.5 out of 5 stars,4 customer reviews,Frostfire by Amanda Hocking is the stunning fi...,Action & Adventure (Books),Action & Adventure
6236,The First Order (Sam Capra),Jeff Abbott,"Paperback,– 21 Dec 2016",3.9 out of 5 stars,2 customer reviews,"Six years ago, Sam Capra watched his brother, ...",Action & Adventure (Books),Action & Adventure

In [4]:
print('test shape:', test.shape)
print('train shape: ', train.shape)

test shape: (1560, 8)
train shape:  (6237, 9)

In [5]:
df = pd.concat([train.iloc[:,:-1],test])

In [6]:
df.shape

(7797, 8)

In [7]:
test.head(1)

,Title,Author,Edition,Reviews,Ratings,Synopsis,Genre,BookCategory
0,The Complete Sherlock Holmes: 2 Boxes sets,Sir Arthur Conan Doyle,"Mass Market Paperback,– 1 Oct 1986",4.4 out of 5 stars,960 customer reviews,A collection of entire body of work of the She...,Short Stories (Books),"Crime, Thriller & Mystery"

In [8]:
train.head(1)

,Title,Author,Edition,Reviews,Ratings,Synopsis,Genre,BookCategory,Price
0,The Prisoner's Gold (The Hunters 3),Chris Kuzneski,"Paperback,– 10 Mar 2016",4.0 out of 5 stars,8 customer reviews,THE HUNTERS return in their third brilliant no...,Action & Adventure (Books),Action & Adventure,220.0

In [9]:
df.head()

,Title,Author,Edition,Reviews,Ratings,Synopsis,Genre,BookCategory
0,The Prisoner's Gold (The Hunters 3),Chris Kuzneski,"Paperback,– 10 Mar 2016",4.0 out of 5 stars,8 customer reviews,THE HUNTERS return in their third brilliant no...,Action & Adventure (Books),Action & Adventure
1,Guru Dutt: A Tragedy in Three Acts,Arun Khopkar,"Paperback,– 7 Nov 2012",3.9 out of 5 stars,14 customer reviews,A layered portrait of a troubled genius for wh...,Cinema & Broadcast (Books),"Biographies, Diaries & True Accounts"
2,Leviathan (Penguin Classics),Thomas Hobbes,"Paperback,– 25 Feb 1982",4.8 out of 5 stars,6 customer reviews,"""During the time men live without a common Pow...",International Relations,Humour
3,A Pocket Full of Rye (Miss Marple),Agatha Christie,"Paperback,– 5 Oct 2017",4.1 out of 5 stars,13 customer reviews,A handful of grain is found in the pocket of a...,Contemporary Fiction (Books),"Crime, Thriller & Mystery"
4,LIFE 70 Years of Extraordinary Photography,Editors of Life,"Hardcover,– 10 Oct 2006",5.0 out of 5 stars,1 customer review,"For seven decades, ""Life"" has been thrilling t...",Photography Textbooks,"Arts, Film & Photography"

# Data Transformation

In [10]:
import re

In [11]:
#finding max number of authers in the 'Author' column

#pattern = re.compile(r'[\,]')
#pattern.search(df['Author'])

In [12]:
no_of_author = df['Author'].str.extract(r'(\,)')
no_of_author

        0
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
...   ...
1555  NaN
1556  NaN
1557  NaN
1558  NaN
1559  NaN

[7797 rows x 1 columns]

In [13]:
no_of_author.value_counts()

,    394
dtype: int64

In [14]:
no_of_author.dropna()

      0
11    ,
16    ,
19    ,
29    ,
31    ,
...  ..
1509  ,
1522  ,
1525  ,
1527  ,
1541  ,

[394 rows x 1 columns]

author_count = pd.DataFrame(index=range(len(df)),columns=['count'])
author_count.fillna(0, inplace=True)

author_count

author_count

In [15]:
df['Author_count'] = np.zeros
for i in range(len(df)):
    df['Author_count'].iloc[i] = (df['Author'].iloc[i].count(",") + 1)

In [16]:
df['Author'].iloc[5].count(",")

0

## putting the above results in main dataframe

df['Author_count'] = author_count['count']

df['Author_count'].value_counts()

In [18]:
df['Author_count'].value_counts()

1    7403
2     292
3      72
4      23
5       6
7       1
Name: Author_count, dtype: int64

In [19]:
df[df['Author_count'] == 7]

,Title,Author,Edition,Reviews,Ratings,Synopsis,Genre,BookCategory,Author_count
771,"Four Horsemen, The","Richard,Harris, Sam,Dennett, Daniel C.,Hitchen...","Hardcover,– 26 Feb 2019",5.0 out of 5 stars,1 customer review,"Known as the ‘four Horsemen’ of new atheism, t...",Theology & Philosophy of Religion (Books),"Biographies, Diaries & True Accounts",7

In [20]:
df['Reviews'] = df['Reviews'].apply(lambda x: x.split(" ")[0])

In [21]:
df['Reviews']

0       4.0
1       3.9
2       4.8
3       4.1
4       5.0
       ...
1555    5.0
1556    3.6
1557    4.0
1558    3.5
1559    4.5
Name: Reviews, Length: 7797, dtype: object

In [22]:
df['Edition'].iloc[4]

'Hardcover,– 10 Oct 2006'

In [23]:
df['Book_type'] = df['Edition'].apply(lambda x: x.split(",")[0])
df['Publish_year'] = df['Edition'].apply(lambda x:x.split(" ")[-1] )

In [27]:
# Investigating publishing year
df['Publish_year'].value_counts(ascending = False)[-20:]

1960           3
1979           3
1964           3
1981           2
1978           2
NTSC           1
Unabridged     1
Edition        1
Facsimile      1
1970           1
1969           1
1905           1
1900           1
Audiobook      1
1961           1
1925           1
1973           1
Illustrated    1
1942           1
1972           1
Name: Publish_year, dtype: int64

In [28]:
df[df['Publish_year'] == 'Unabridged']

,Title,Author,Edition,Reviews,Ratings,Synopsis,Genre,BookCategory,Author_count,Book_type,Publish_year,no_of_rating
2101,Living Language Dothraki: A Conversational Lan...,David J. Peterson,"Hardcover,– Audiobook, Unabridged",4.0,2 customer reviews,Fans of the hit HBO series Game of Thrones can...,Linguistics (Books),"Language, Linguistics & Writing",1,Hardcover,Unabridged,2

In [33]:
df= df[pd.to_numeric(df['Publish_year'], errors = 'coerce').notnull()]
df

,Title,Author,Edition,Reviews,Ratings,Synopsis,Genre,BookCategory,Author_count,Book_type,Publish_year,no_of_rating
0,The Prisoner's Gold (The Hunters 3),Chris Kuzneski,"Paperback,– 10 Mar 2016",4.0,8 customer reviews,THE HUNTERS return in their third brilliant no...,Action & Adventure (Books),Action & Adventure,1,Paperback,2016,8
1,Guru Dutt: A Tragedy in Three Acts,Arun Khopkar,"Paperback,– 7 Nov 2012",3.9,14 customer reviews,A layered portrait of a troubled genius for wh...,Cinema & Broadcast (Books),"Biographies, Diaries & True Accounts",1,Paperback,2012,14
2,Leviathan (Penguin Classics),Thomas Hobbes,"Paperback,– 25 Feb 1982",4.8,6 customer reviews,"""During the time men live without a common Pow...",International Relations,Humour,1,Paperback,1982,6
3,A Pocket Full of Rye (Miss Marple),Agatha Christie,"Paperback,– 5 Oct 2017",4.1,13 customer reviews,A handful of grain is found in the pocket of a...,Contemporary Fiction (Books),"Crime, Thriller & Mystery",1,Paperback,2017,13
4,LIFE 70 Years of Extraordinary Photography,Editors of Life,"Hardcover,– 10 Oct 2006",5.0,1 customer review,"For seven decades, ""Life"" has been thrilling t...",Photography Textbooks,"Arts, Film & Photography",1,Hardcover,2006,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1555,100 Things Every Designer Needs to Know About ...,Susan Weinschenk,"Paperback,– 14 Apr 2011",5.0,4 customer reviews,We design to elicit responses from people. We ...,Design,"Computing, Internet & Digital Media",1,Paperback,2011,4
1556,"Modern Letter Writing Course: Personal, Busine...",ARUN SAGAR,"Paperback,– 8 May 2013",3.6,13 customer reviews,"A 30-day course to write simple, sharp and att...",Children's Reference (Books),"Biographies, Diaries & True Accounts",1,Paperback,2013,13
1557,The Kite Runner Graphic Novel,Khaled Hosseini,"Paperback,– 6 Sep 2011",4.0,5 customer reviews,The perennial bestseller-now available as a se...,Humour (Books),Humour,1,Paperback,2011,5
1558,Panzer Leader (Penguin World War II Collection),Heinz Guderian,"Paperback,– 22 Sep 2009",3.5,3 customer reviews,Heinz Guderian - master of the Blitzkrieg and ...,United States History,"Biographies, Diaries & True Accounts",1,Paperback,2009,3
1559,Complete Spanish Step-by-Step,Barbara Bregstein,"Paperback,– 16 Sep 2016",4.5,2 customer reviews,Learn Spanish with the most convenient and eff...,Dictionaries,"Language, Linguistics & Writing",1,Paperback,2016,2

In [34]:
df['Publish_year'].value_counts(ascending = False)[-20:]

1976    9
1980    7
1971    5
1975    4
1960    3
1979    3
1977    3
1964    3
1974    3
1978    2
1981    2
1961    1
1942    1
1973    1
1925    1
1969    1
1900    1
1905    1
1970    1
1972    1
Name: Publish_year, dtype: int64

In [35]:
df[df['no_of_rating'] == '1,416']

,Title,Author,Edition,Reviews,Ratings,Synopsis,Genre,BookCategory,Author_count,Book_type,Publish_year,no_of_rating
200,Autobiography of a Yogi,Paramhansa Yogananda,"Paperback,– 1 Dec 2017",4.6,"1,416 customer reviews","In his lifetime and since his death, Paramhans...",Biographies & Autobiographies (Books),"Biographies, Diaries & True Accounts",1,Paperback,2017,"1,416"
6202,Autobiography of a Yogi (Complete Paperback Ed...,Paramahansa Yogananda,"Paperback,– 9 Feb 1998",4.6,"1,416 customer reviews",Autobiography of a Yogi is one of the famous S...,Hinduism (Books),"Biographies, Diaries & True Accounts",1,Paperback,1998,"1,416"

In [24]:
df['no_of_rating'] = df['Ratings'].apply(lambda x: x.split(" ")[0])

In [25]:
df['no_of_rating']

0        8
1       14
2        6
3       13
4        1
        ..
1555     4
1556    13
1557     5
1558     3
1559     2
Name: no_of_rating, Length: 7797, dtype: object

## exploring book category options

In [104]:

book_cat = df['BookCategory'].apply(lambda x: re.split(' & |, ', x))

In [105]:
book_cat

0                         [Action, Adventure]
1       [Biographies, Diaries, True Accounts]
2                                    [Humour]
3                  [Crime, Thriller, Mystery]
4                   [Arts, Film, Photography]
                        ...
1555     [Computing, Internet, Digital Media]
1556    [Biographies, Diaries, True Accounts]
1557                                 [Humour]
1558    [Biographies, Diaries, True Accounts]
1559         [Language, Linguistics, Writing]
Name: BookCategory, Length: 7797, dtype: object

In [108]:
book_cat_dict = {}
for i in range(len(book_cat)):
    for val in book_cat.iloc[i]:
        if val in book_cat_dict:
            book_cat_dict[val] +=1
        else:
            book_cat_dict[val] = 0

In [112]:
len(book_cat_dict.keys())

23

In [113]:
book_cat_dict

{'Action': 1035,
 'Adventure': 1035,
 'Biographies': 731,
 'Diaries': 731,
 'True Accounts': 731,
 'Humour': 669,
 'Crime': 877,
 'Thriller': 877,
 'Mystery': 877,
 'Arts': 637,
 'Film': 637,
 'Photography': 637,
 'Sports': 613,
 'Language': 732,
 'Linguistics': 732,
 'Writing': 732,
 'Computing': 647,
 'Internet': 647,
 'Digital Media': 647,
 'Romance': 701,
 'Comics': 743,
 'Mangas': 743,
 'Politics': 401}

In [115]:
category_df = pd.DataFrame(index = range(len(df)), columns = book_cat_dict.keys())

In [117]:
for i in range(len(book_cat)):
    for val in book_cat.iloc[i]:
        category_df[val].iloc[i] = 1

## category df LATER TO BE CONCAT IN MAIN DF

In [119]:
category_df.fillna(0, inplace=True)
category_df

,Action,Adventure,Biographies,Diaries,True Accounts,Humour,Crime,Thriller,Mystery,Arts,...,Language,Linguistics,Writing,Computing,Internet,Digital Media,Romance,Comics,Mangas,Politics
0,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7792,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,1,0,0,0,0
7793,0,0,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7794,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7795,0,0,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7796,0,0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,0,0,0

# exploring authors

In [131]:
author = df['Author'].apply(lambda x: re.split(',|, ',x))

In [143]:
df.iloc[772]

Title                The Republic of Thieves (Gentleman Bastards)
Author                                                Scott Lynch
Edition                       Mass Market Paperback,– 29 Jul 2014
Reviews                                                       4.2
Ratings                                        5 customer reviews
Synopsis        NEW YORK TIMES BESTSELLER\n\n“A bright new voi...
Genre                                  Action & Adventure (Books)
BookCategory                                   Action & Adventure
Author_count                                                    1
Book_type                                   Mass Market Paperback
Publish_year                                                 2014
no_of_rating                                                    5
Name: 772, dtype: object

In [132]:
author.iloc[771]

['Pamel Lidiard', ' Graham Fitch']

In [124]:
author_dict = {}
for i in range(len(author)):
    for val in author.iloc[i]:
        if val in book_cat_dict:
            author_dict[val] +=1
        else:
            author_dict[val] = 0

In [125]:
author_dict

{'Chris Kuzneski': 0,
 'Arun Khopkar': 0,
 'Thomas Hobbes': 0,
 'Agatha Christie': 0,
 'Editors of Life': 0,
 'Danny Dreyer': 0,
 'Sivananda Yoga Vedanta Centre': 0,
 'M S Ashokan': 0,
 'Maurice Druon': 0,
 'Rajiv Malhotra': 0,
 'Don Tapscott': 0,
 ' Alex Tapscott': 0,
 'James Clavell': 0,
 'Wong Kiew Kit': 0,
 'Michael Ondaatje': 0,
 'Matthew K Manning': 0,
 'Charlotte Guillain': 0,
 ' Roland Dry': 0,
 'Takashi Yano': 0,
 'Will Durant': 0,
 'Davy Cielen': 0,
 ' Arno D.B. Meysman': 0,
 ' Mohamed Ali': 0,
 'Hiro Arikawa': 0,
 'Luca Caioli': 0,
 'Mario Puzo': 0,
 'Murugesan Ramaswamy': 0,
 'Jenny Russ': 0,
 'Robert Neuwirth': 0,
 'Shantanu Guha Ray': 0,
 'Osamu Tezuka': 0,
 'Brian Shields': 0,
 'C. G. Jung': 0,
 ' Aniela Jaffe': 0,
 ' Clara Winston': 0,
 ' Richard Winston': 0,
 'David Baldacci': 0,
 'Ross Macdonald': 0,
 ' Tom Nolan': 0,
 'Hart Defouw': 0,
 'Sidney Sheldon': 0,
 'Naughty Dog': 0,
 'Thomas Harris': 0,
 'Reema Thareja': 0,
 'Palden Gyatso Tenzing': 0,
 'Daniel Silva': 0,
 'HBR': 0,
 'George Orwell': 0,
 'Doug Dorst': 0,
 'Dict.': 0,
 'Ella Frances Sanders': 0,
 'Taylor Jenkins Reid': 0,
 'Bear Grylls': 0,
 'David Dutkanicz': 0,
 'S. Hussain Zaidi': 0,
 'Oliver Bowden': 0,
 'Mark Crilley': 0,
 'Clive Cussler': 0,
 'Coomi Kapoor': 0,
 'Abrsm': 0,
 'Michael Crichton': 0,
 'Ranata Suzuki': 0,
 'Priya-Alika Elias': 0,
 'Vikram Bhatt': 0,
 'Bob Eckstein': 0,
 'Fredrik Backman': 0,
 'Herge': 0,
 'Richard Mansfield': 0,
 'Ullekh N P': 0,
 'Aldous Huxley': 0,
 'Rishabh Puri': 0,
 'Biz Stone': 0,
 'Charles Dickens': 0,
 'Günter Grass': 0,
 'Geoff Dyer': 0,
 'Keigo Higashino': 0,
 'Tsugumi Ohba': 0,
 'DK': 0,
 'Henrik Ibsen': 0,
 ' Deborah Dawkin': 0,
 ' Erik Skuggevik': 0,
 ' Tore Rem': 0,
 'Haruki Murakami': 0,
 'ZAG Entertainment': 0,
 'A B de Villiers': 0,
 'Adam Juniper': 0,
 'Happymon Jacob': 0,
 'Elke Linda Buchholz': 0,
 ' Susanne Kaeppele': 0,
 ' Karoline Hille': 0,
 ' Irina Stotland': 0,
 ' Gerhard Buhler': 0,
 'Alistair MacLean': 0,
 'David Sedaris': 0,
 'Scott Snyder': 0,
 ' Tim Seeley': 0,
 ' Jason Fabok': 0,
 'Rafael Nadal': 0,
 'Shooting Targets': 0,
 'David Sinden': 0,
 'David Pilling': 0,
 'Namrata Purohit': 0,
 'Richard Bach': 0,
 'Rahul Matthan': 0,
 'Logophilia Education': 0,
 'Girish Kuber': 0,
 ' Vikrant Pande': 0,
 'Alex Honnold': 0,
 'Calligraphy Book Practice': 0,
 ' Calligraphy Paper': 0,
 'Novy Kapadia': 0,
 'Joe Baron': 0,
 'Ruskin Bond': 0,
 'William Tomkins': 0,
 'Leander Kahney': 0,
 'Susan Sontag': 0,
 'Agrawal P.K': 0,
 'Lindsay Warwick': 0,
 'Ajay K Pandey': 0,
 'P.G. Wodehouse': 0,
 'Richard Yates': 0,
 'Ladybird': 0,
 'Dave Kerpen': 0,
 'Mike Meyers': 0,
 'E.L. James': 0,
 'Maneka Gandhi': 0,
 'Rujuta Diwekar': 0,
 'David Beckham': 0,
 'Negi Haruba': 0,
 'ChrisMD': 0,
 'William Lidwell': 0,
 'Lexie Williamson': 0,
 'Richmal Crompton': 0,
 'Christopher Hitchens': 0,
 'Bill Watterson': 0,
 'Sherry Petersik': 0,
 'Elayne Angel': 0,
 'Dan Brown': 0,
 'Vinod Mehta': 0,
 'Iain S. Thomas': 0,
 'Timsal Masud': 0,
 'Phil Jackson': 0,
 'Andrew Heywood': 0,
 'Hayao Miyazaki': 0,
 'Robert Greene': 0,
 'Rishi Piparaiya': 0,
 'Peter May': 0,
 'Trinity College Lond': 0,
 'Michael Lewis': 0,
 'Edgar P. Jacobs': 0,
 'Michael Braungart': 0,
 'B.N. Goswamy': 0,
 'Robert L. Heilbroner': 0,
 'John Truby': 0,
 'Sudha Mahalingam': 0,
 'John Carreyrou': 0,
 'Dreamland Publications': 0,
 'Satish Y. Deodhar': 0,
 'Arsheep Bahga': 0,
 ' Vijay Madisetti': 0,
 'John Grisham': 0,
 'Sanjeeva Pandey & Anthony J Gaston': 0,
 'Marjorie Liu': 0,
 ' Sana Takeda': 0,
 'Wendell Odom': 0,
 'Anirban Bhattacharya': 0,
 'Schwartz Baron': 0,
 'James Patterson': 0,
 'Justin Seitz': 0,
 'Irakli Nadareishvili': 0,
 'Venkat Iyer': 0,
 'Anupama Puri Mahajan': 0,
 'Graham Burgess': 0,
 'Michael Uslan': 0,
 'John McWhorter': 0,
 'Fyodor Dostoyevsky': 0,
 'Miranda Sings': 0,
 'Hindol Sengupta': 0,
 'Ian McEwan': 0,
 'IU. Averbakh': 0,
 ' K.P. Neat': 0,
 'Mr Irshad Thalakala': 0,
 'Nelson Mandela': 0,
 'Norman Lewis': 0,
 'Naoki Urasawa': 0,
 'Kenneth Roman': 0,
 'Tina Fey': 0,
 'Sylvia Day': 0,
 'Robert Louis Stevenson': 0,
 'Makoto Shinkai': 0,
 'Lucy Foley': 0,
 'Anuja Chauhan': 0,
 'Nikita Singh': 0,
 'Alok Mani Tripathi': 0,
 'John Walkenbach': 0,
 'George Michell': 0,
 'Bryson Payne': 0,
 'Holly Bourne': 0,
 'Brian Weiss': 0,
 'APJ Abdul Kalam': 0,
 'Diana Gabaldon': 0,
 'Jawaharlal Nehru': 0,
 'Christopher Kenworthy': 0,
 'Jules Verne': 0,
 'R.V. Raman': 0,
 'Raymond Carver': 0,
 'Frank Miller': 0,
 'Aditi Singhal': 0,
 'Mukund Rajan': 0,
 'Connor Franta': 0,
 'Paramhansa Yogananda': 0,
 'Charles Montgomery': 0,
 'Lynsay Sands': 0,
 'George B. Bridgman': 0,
 'Rachel Renee Russell': 0,
 'Reki Kawahara': 0,
 'Mark Greaney': 0,
 'Dirk Kurbjuweit': 0,
 'Luis Fernandes': 0,
 'Mariana Mazzucato': 0,
 'Wilbur Smith': 0,
 'Mamta Nainy': 0,
 'Satya Nadella': 0,
 'Joe Hyams': 0,
 'Eiichiro Oda': 0,
 "Terry O' Brien": 0,
 'Harinder Baweja': 0,
 ' GL Batra': 0,
 'Ayn Rand': 0,
 'Stephen Fry': 0,
 'V.V.K.Subburaj': 0,
 'Cup': 0,
 'Albert Uderzo': 0,
 'Mishra Ravikesh': 0,
 'Oxford Dictionaries': 0,
 'James Rollins': 0,
 'Tayeb Salih': 0,
 'Divia Patel': 0,
 'Dr. Praveen Tiwari': 0,
 'Andrew J. Kirby': 0,
 'George R.R. Martin': 0,
 'Willard A. Palmer': 0,
 'Anita Bhogle': 0,
 'Pelé': 0,
 'Michael Connelly': 0,
 'C.E Eckersley': 0,
 'Dav Pilkey': 0,
 'Upendran S.': 0,
 'Masashi Kishimoto': 0,
 'ONE': 0,
 'Jhimli Mukherjee Pandey': 0,
 'Paul Tobin': 0,
 'Ken Follett': 0,
 'One': 0,
 'Various': 0,
 'John Buchan': 0,
 'Aatish Taseer': 0,
 'Simon Kuper': 0,
 'MANOHAR SINGH GILL': 0,
 'Julia Cameron': 0,
 'Grant Taylor': 0,
 'Sarah J. Maas': 0,
 'George Beahm': 0,
 'Bryan Willis': 0,
 'Narasimha Karumanchi': 0,
 'Shashi Deshpande': 0,
 'Dan Bader': 0,
 'Bart Yasso': 0,
 'Bruce Lee': 0,
 'Steinmetz': 0,
 'Rohit Prasad': 0,
 'Arjun Ghosh': 0,
 'Plato': 0,
 'Saiswaroopa Iyer': 0,
 'Steve Brusatte': 0,
 'Ed Viesturs': 0,
 'Graham Hoyland': 0,
 'Conn Iggulden': 0,
 'Sabaa Tahir': 0,
 'Sam Phillips': 0,
 'R. Pillai': 0,
 'Giovanni Boccaccio': 0,
 'Reza Farazmand': 0,
 'Srishti Chaudhary': 0,
 'Alex Hutchinson': 0,
 'Jason Fulford': 0,
 'Kazuo Ishiguro': 0,
 'Francis Bacon': 0,
 'Anne Gracie': 0,
 'Georgette Heyer': 0,
 'Louis Gerstner': 0,
 'Sudha Murty': 0,
 'Vibrant Publishers': 0,
 'Kevin Pietersen': 0,
 'Laura Hillenbrand': 0,
 'Agarwal A.N.': 0,
 'F2 Freestylers': 0,
 'Andrew Matthews': 0,
 'Satyananda Saraswati': 0,
 'Pittacus Lore': 0,
 'Adity Kay': 0,
 'GBS Sidhu': 0,
 'Roald Dahl': 0,
 'Andrew Sean Greer': 0,
 'Gregg Hurwitz': 0,
 'Jocelyn Dart': 0,
 'Philip Geer Ed.M.': 0,
 'Abhinav Chandrachud': 0,
 'Ripley': 0,
 'Michael Coulson': 0,
 'Terri Libenson': 0,
 'Joseph Stiglitz': 0,
 'Calum Laird': 0,
 'Carol J. Loomis': 0,
 'Aparajitha Nagesh': 0,
 'Dr. Syed Ali': 0,
 'Johan van Lengen': 0,
 'Ray Bradbury': 0,
 'Brandon Sanderson': 0,
 'Karen Swan': 0,
 'Jim Davis': 0,
 'Robert Ludlum': 0,
 'Novoneel Chakraborty': 0,
 'Jamie McGuire': 0,
 'Danielle Steel': 0,
 'Amazing Battles': 0,
 'Josh Waitzkin': 0,
 'Ivan Turgenev': 0,
 'Terry Deary': 0,
 'James Grippando': 0,
 'Shigeru Mizuki': 0,
 'Alex Banks': 0,
 'Archie Superstars': 0,
 'Bhaavna Arora': 0,
 'James Herriot': 0,
 'J. D. Salinger': 0,
 'Tuttle Publishing': 0,
 'Pete Buttigieg': 0,
 'Urvashi Butalia': 0,
 'Thich Nhat Hanh': 0,
 'Thomas Mann': 0,
 'Charles Chaplin': 0,
 'Odom': 0,
 'John Ajvide Lindqvist': 0,
 'Curtis Frye': 0,
 'Colleen Hoover': 0,
 'Sean Murphy': 0,
 'William Styron': 0,
 'Andreas M. Antonopoulos': 0,
 'Yoshihiro Togashi': 0,
 'Yashavant P. Kanetkar': 0,
 'National Geographic': 0,
 'Jason R. Briggs': 0,
 'Durjoy Datta': 0,
 'Bipan Chandra': 0,
 'Edgar Allan Poe': 0,
 'Alvin Toffler': 0,
 'Catherine Anderson': 0,
 'Seth Goldman': 0,
 'Adam J. Kurtz': 0,
 'Thea Stilton': 0,
 'Vinay Sitapati': 0,
 'Kulpreet Yadav': 0,
 'Daniel J. Siegel': 0,
 'Murty Sudha': 0,
 'Mike Chapple': 0,
 'Matthew Janda': 0,
 'Judith Mcnaught': 0,
 'Timothy Zahn': 0,
 "Louis L'Amour": 0,
 'Sathya Saran': 0,
 'Joseph E.B. Lumbard': 0,
 'Ruth Dugdall': 0,
 'Pete Sampras': 0,
 'Tilly Bagshawe': 0,
 'Peter Mayle': 0,
 'Jonathan Lynn': 0,
 'Bhaskar Chattopadhyay': 0,
 'Edmund N. Bacon': 0,
 'Nisioisin': 0,
 'Mccarthy': 0,
 'Margaret Atwood': 0,
 'Ramachandra Guha': 0,
 'Bruce Thomas': 0,
 'Gabriel Tallent': 0,
 'Srinath Raghavan': 0,
 'S Kalavathy': 0,
 'Beighley Lynn': 0,
 'Simon Scarrow': 0,
 'Mascie-Taylor': 0,
 'Rajani Thindiath': 0,
 'Robert Macfarlane': 0,
 'Walter Isaacson': 0,
 'The Harbus': 0,
 'Peter Zumthor': 0,
 'David K. Kruglinski': 0,
 ' Scot Wingo': 0,
 ' George Shepherd': 0,
 'Ben Kane': 0,
 'Stephen King': 0,
 'Julia Donaldson': 0,
 'Prateek Shukla': 0,
 ' Navneet Mehra': 0,
 'Doris Kearns Goodwin': 0,
 'A.P.J. Abdul Kalam': 0,
 'Maple Press': 0,
 'Kevyn Aucoin': 0,
 'Paul Morland': 0,
 'Anthony Ryan': 0,
 'Lang Leav': 0,
 'Viet Thanh Nguyen': 0,
 'John Le Carré': 0,
 'Paul Hoffman': 0,
 'Leigh Bardugo': 0,
 'Dani Collins': 0,
 'Priyanka Mathur': 0,
 'Sui Ishida': 0,
 'Rajib Mall': 0,
 'Dan Jurgens': 0,
 ' Lee Weeks': 0,
 'Dean Koontz': 0,
 'W. Somerset Maugham': 0,
 'Indu Sundaresan': 0,
 'Kalyan B. Bhattacharyya': 0,
 'Frederick Forsyth': 0,
 'Yasir Abbasi': 0,
 'Bobby Fischer': 0,
 'Tonmoy Banerjee': 0,
 'Adam Shostack': 0,
 'Sidney Lumet': 0,
 'Yashavant Kanetkar': 0,
 'Marvel Comics': 0,
 'Paul Dini': 0,
 'Sushmita Jamwal': 0,
 'Leo Tolstoy': 0,
 'Joe Kelly': 0,
 'Christa Faust': 0,
 'Penelope Lively': 0,
 'Stuti Agarwal': 0,
 'Attia Hosain': 0,
 'Rounak Banik': 0,
 'Jin Yong': 0,
 'Suhas Palshikar': 0,
 'Jonny Bairstow': 0,
 'Barney Stinson': 0,
 'Anna Todd': 0,
 'Shatrujeet Nath': 0,
 'John Pilger': 0,
 'Carmine Gallo': 0,
 'K. Sujatha Rao': 0,
 'Louis de Bernieres': 0,
 'Rick Riordan': 0,
 'Arthur Conan Doyle': 0,
 'S. Krishnamurthi': 0,
 'B.B. Singh': 0,
 'Simon Haykin': 0,
 'Kurt Vonnegut': 0,
 'Andre Agassi': 0,
 'Hari Kumar K': 0,
 'Nicholas Carlson': 0,
 'Darian Leader': 0,
 'Hunter S. Thompson': 0,
 'Scholastic - Peter Clutterbuck': 0,
 'Sukanya Venkatraghavan': 0,
 'Mario Livio': 0,
 'Larry Gonick': 0,
 'Sanjoy Hazarika': 0,
 'Marc Seifer': 0,
 'Anirudha Bhattacharjee': 0,
 'Eric Matthes': 0,
 'Bob Woodward': 0,
 'Catana Chetwynd': 0,
 'Ursula Le Guin': 0,
 'Satoshi Kon': 0,
 'Collins Puzzles': 0,
 'David Lockwood': 0,
 'Gustave Flaubert': 0,
 'Katherine Frank': 0,
 'Willard Palmer': 0,
 'Frederic Delavier': 0,
 'Judith F. Olson': 0,
 'Bruce Fogle': 0,
 'Gautam Marwaha': 0,
 'Yasmin Karachiwala': 0,
 ' Zeena Dhalla': 0,
 'Nicholas Carr': 0,
 'Marjane Satrapi': 0,
 'Annapoorna': 0,
 'W.H. Hudson': 0,
 'Dr Sandesh Mayekar': 0,
 'Abir Mukherjee': 0,
 'John Marrs': 0,
 'Abhay Narayan Sapru': 0,
 'A J Hoge': 0,
 'Jeff Vander Meer': 0,
 'Terry Hayes': 0,
 'Paul Brunton': 0,
 'J. P. Dalvi': 0,
 'Clare Mackintosh': 0,
 'Colin Forbes': 0,
 'Jenny Han': 0,
 'Vimal Kumar': 0,
 'Sarah Andersen': 0,
 'Bryan Peterson': 0,
 'Samah Visaria': 0,
 'Ruchir Sharma': 0,
 'Murasaki Shikibu': 0,
 'Rachel Ignotofsky': 0,
 'Katarina Bivald': 0,
 'James Stern': 0,
 'Cassandra Clare': 0,
 'Alan Francis': 0,
 'Mantak Chia': 0,
 'James Rickards': 0,
 'Richard Branson': 0,
 'Jean Hugard': 0,
 'Alison Reid': 0,
 'Sumit Ganguly': 0,
 'Anthony Horowitz': 0,
 'Gurmehar Kaur': 0,
 'David R Kalvitis': 0,
 'Sophie Kinsella': 0,
 'Bose Sisir K.': 0,
 ' Bose Sugata': 0,
 'John le Carré': 0,
 'Barker J.D.': 0,
 'K. Neihsial': 0,
 ' 2': 0,
 'Alfred V. Aho': 0,
 'Sam Bourne': 0,
 'Parthesh Thakkar': 0,
 'André Béteille': 0,
 'Niall Kishtainy': 0,
 'Jr George H. Gadbois': 0,
 'M.H. Abrams': 0,
 ' Geoffrey Galt Harpham': 0,
 'Barrington Barber': 0,
 'Azad A.K.': 0,
 'Robert Allen': 0,
 'Kentaro Toyama': 0,
 'Craig Callender': 0,
 'Suzy Hopkins': 0,
 'Kate Ascher': 0,
 'Larousse': 0,
 'Thomas Cathcart': 0,
 'Orhan Pamuk': 0,
 'Patrick Süskind': 0,
 'Vivek Kulkarni': 0,
 'Partha Chatterjee': 0,
 'Brent Weeks': 0,
 'Cormac McCarthy': 0,
 'Keith Critchlow': 0,
 'Ritu Singh': 0,
 'Ryan Foley': 0,
 'Jason Quinn': 0,
 'Gill Paul': 0,
 'Gujarat Co-operative Milk Ltd.': 0,
 'Morton Manus': 0,
 'Susan Dalzell': 0,
 'Suk Lee': 0,
 ' Bob Song': 0,
 'Tara Westover': 0,
 'Victoria Holt': 0,
 'Jack Welch': 0,
 'Ernest Hemingway': 0,
 'Jonathan Stroud': 0,
 'Nora Roberts': 0,
 'Maz Evans': 0,
 'David M. Malone': 0,
 'Lorraine Heath': 0,
 'Raymond Chandler': 0,
 'William Goldman': 0,
 'Kevin Marx': 0,
 'James Mayhew': 0,
 'Al Sweigart': 0,
 'Sonic Scribes': 0,
 'Elmar Neveling': 0,
 'Dan Cryan': 0,
 'Scott Adams': 0,
 'Laini Taylor': 0,
 'London J': 0,
 'Michael Allaby': 0,
 'Ann Handley': 0,
 'Tom Fishburne': 0,
 'Shin Towada': 0,
 ' Sui Ishida': 0,
 'Reema Abbasi': 0,
 'Gregory David Roberts': 0,
 'Mayank Gandhi': 0,
 'Madeleine Wickham': 0,
 'Sanchit Gupta': 0,
 'Estelle Maskame': 0,
 'BRYAN PETERSON': 0,
 'Bhjarti': 0,
 ' Akshar': 0,
 'Gupta G.K': 0,
 'Hajime Isayama': 0,
 'Susan Stephens': 0,
 'Thomas Pavitte': 0,
 'Beverly Cleary': 0,
 'Michel Bussi': 0,
 'Ian Rankin': 0,
 'Matthew Syed': 0,
 'Himanshu Rai': 0,
 'William J. Long': 0,
 'Pierre Boulle': 0,
 'Gustave Lebon': 0,
 'Roger Penrose': 0,
 'Bardhan Pranab': 0,
 'Marie Kondo': 0,
 'A. G. Riddle': 0,
 'Aspen Matis': 0,
 'Julia Silge': 0,
 'Devdutt Pattanaik': 0,
 'Emraan Hashmi': 0,
 ' Bilal Siddiqi': 0,
 'Michael J. Sandel': 0,
 'Alexander McCall Smith': 0,
 'Tommy Caldwell': 0,
 'Lopez Lomong': 0,
 'Abbi Glines': 0,
 'Surendranath Dasgupta': 0,
 'Aron Ralston': 0,
 'Jakeman': 0,
 'Broughton Coburn': 0,
 'Stephen Hawking': 0,
 'Jane Porter': 0,
 'Sagarika Ghose': 0,
 'Mughal/Rasmussen': 0,
 'Nikhil Sharma Shantanu Gupta': 0,
 'Norman Lowe': 0,
 'Steve Cavanagh': 0,
 'Surender Mohan Pathak': 0,
 'Ziauddin Sardar': 0,
 'Victor Hugo': 0,
 'Vaughan Lowe': 0,
 'Jeffrey Archer': 0,
 'S. Rajasekaran': 0,
 ' G. A. Vijayalakshmi Pai': 0,
 'Stuart Turton': 0,
 'Karna Satish K.': 0,
 'Thomas Hardy': 0,
 'Varsha H. Patil': 0,
 'Marcus Trescothick': 0,
 'Charles Barry Townsend': 0,
 'Graham Hunter': 0,
 'George': 0,
 ' Weedon Grossmith': 0,
 'VS Editorial Board': 0,
 'Cal Newport': 0,
 'Neha Narkhede': 0,
 'Friedrich Nietzsche': 0,
 'Bill Bryson': 0,
 'Dave Dowling': 0,
 'Nalini Singh': 0,
 'Russell Brunson': 0,
 'Shweta Taneja': 0,
 'Arihant Experts': 0,
 'Joe Abercrombie': 0,
 'Judea Pearl': 0,
 'Abhimanyu Singh Sisodia': 0,
 ' Sachin Nagar': 0,
 'Sophie Jordan': 0,
 'Laura Brandenburg': 0,
 'Osho': 0,
 'Twinkle Khanna': 0,
 'Edward T. Hall': 0,
 'Brian K. Vaughan': 0,
 'Tom Clancy': 0,
 'Paul Roetert': 0,
 'A.K. Thakur': 0,
 'Akira Higashiyama': 0,
 'Sudeep Nagarkar': 0,
 'Shane Warne': 0,
 'Ravi Dabral': 0,
 'r.h. Sin': 0,
 'Mark Lauren': 0,
 'Kevin Hart': 0,
 'Anant Pai': 0,
 'Nikhil Mahajan': 0,
 'Wonder House Books': 0,
 'J.K. Rowling': 0,
 'Syd Field': 0,
 'Nintendo': 0,
 'Brandon Stanton': 0,
 "Terry O'Brien": 0,
 'Leah Bendavid-Val': 0,
 'Christina Lauren': 0,
 'R. Champakalakshmi': 0,
 'Doguhan Uluca': 0,
 'Dan': 0,
 'Lester': 0,
 ' Phil Howell': 0,
 'Krishna Trilok': 0,
 'Pamel Lidiard': 0,
 ' Graham Fitch': 0,
 'Scott Lynch': 0,
 'Betty Edwards': 0,
 'Roderick Hunt': 0,
 'S Meenakshi Ammal': 0,
 'David Kahn': 0,
 'Rahul Pandita': 0,
 'Simar Malhotra': 0,
 'Kirsty Thathapudi': 0,
 'Marc Cameron': 0,
 'Jharna Basu': 0,
 'JP Delaney': 0,
 'S. M. Mushrif': 0,
 'Darwin A. Hindman': 0,
 'Nadia Comaneci': 0,
 'Nina George': 0,
 'Geoff Johns': 0,
 'Aaron Blabey': 0,
 'Mason Currey': 0,
 'Luigi Pirandello': 0,
 'Vanessa Jakeman': 0,
 ' Clare McDowell': 0,
 'Alam Srinivas': 0,
 'Thomas Abraham': 0,
 'Ashlee Vance': 0,
 'Robert Galbraith': 0,
 'Charlie Brooker': 0,
 'Jan-Werner Müller': 0,
 'Brijesh Singh': 0,
 'Scott Rosenberg': 0,
 'Collins': 0,
 'Philippe Auclair': 0,
 'Hazel Willard': 0,
 'Kate Pankhurst': 0,
 'Anuj Dhar': 0,
 'Anil Padmanabhan': 0,
 'Leon Uris': 0,
 'Jayanti Anubhav': 0,
 'Vikrant Khanna': 0,
 'Debbie Tung': 0,
 'Yule': 0,
 'Betty Neels': 0,
 'Dr Bhaswati Bhattacharya': 0,
 'Saurabh Sharma': 0,
 'Saurabh Kapur': 0,
 'Sylvain Reynard': 0,
 'Karin Slaughter': 0,
 'Chris Voss': 0,
 'Albert Einstein': 0,
 'Ken Hultgen': 0,
 'Richard Porter': 0,
 'James Naughton': 0,
 'Henry Mullish': 0,
 ' Herbert L. Cooper': 0,
 'Kamala Sankaran': 0,
 ' Ujjwal Singh': 0,
 'George R. R. Martin': 0,
 'Marti Perarnau': 0,
 'Jean M. Auel': 0,
 'James Gleick': 0,
 'Robert Bringhurst': 0,
 'Robert Pirsig': 0,
 'Dinesh Prasad': 0,
 'Max Brooks': 0,
 'Graham Ratcliffe': 0,
 'Oxford': 0,
 'Mark Collins Jenkins': 0,
 'Mihaly Csikszentmihalyi': 0,
 'Tom Sharpe': 0,
 'Funk': 0,
 'Joe Sacco': 0,
 'Marian Cox': 0,
 'France Belleville-Van Stone': 0,
 'Charlie Kaufman': 0,
 'Alexandre Dumas': 0,
 'Caroline Tiger': 0,
 'Clive': 0,
 ' Cussler': 0,
 ' Dirk Cussler': 0,
 'Jon Smith': 0,
 'Lisa Kleypas': 0,
 'Kentaro Miura': 0,
 'Scott Mariani': 0,
 'Ronald G. Ehrenberg': 0,
 'Valentino Rossi': 0,
 'Jai Arjun Singh': 0,
 'Arun Gadre': 0,
 ' Abhay Shukla': 0,
 'Jaron Lanier': 0,
 'Monica Sorrenson': 0,
 'Phil Metzger': 0,
 'Rainbow Rowell': 0,
 'Yuxi (Hayden) Liu': 0,
 'Sean Howe': 0,
 'Chuck Palahniuk': 0,
 'William Strunk Jr.': 0,
 'Noam': 0,
 ' Polychroniou': 0,
 ' C J Chomsky': 0,
 'Frank Lamprecht': 0,
 'Maha Khan Phillips': 0,
 'Bram Stoker': 0,
 ' Dr. David Rogers': 0,
 ' Dr. Keith Carabine': 0,
 'Katherine Cox-Buday': 0,
 'Ted Dunning': 0,
 'Sanjeev Sanyal': 0,
 'Comfort Love': 0,
 'Andy Weir': 0,
 'Leena Saldanha': 0,
 'Camilla Lackberg': 0,
 'Deborah Harkness': 0,
 'Dan Fox': 0,
 'Chandu Menon': 0,
 ' Anitha Devasia': 0,
 'Steve Kaplan': 0,
 'Ruby Lal': 0,
 'Tony Piper': 0,
 'Chimamanda Ngozi Adichie': 0,
 'Will Corona Pilgrim': 0,
 'Brenda Ueland': 0,
 'Jim Corbett': 0,
 'David Ogilvy': 0,
 'John Grogan': 0,
 'Rick Barba': 0,
 'Anne Frank': 0,
 'Cecelia Ahern': 0,
 'Thorsten Schneider': 0,
 ' et al.': 0,
 'Jojo Moyes': 0,
 'Ron Stocke': 0,
 'Michael Dobbs': 0,
 'Chris Ware': 0,
 'Anand Ranganathan': 0,
 'Patty McCord': 0,
 'John Meade Falkner': 0,
 'Armstrong': 0,
 'Mark Millar': 0,
 'Spark Tek Nath Bhattarai': 0,
 'Nilanjan Mukhopadhyay': 0,
 'Casey Cep': 0,
 'Terese Marie Mailhot': 0,
 'David Grossman': 0,
 'Jamie Chan': 0,
 'Michael Chabon': 0,
 'Craig Thompson': 0,
 'Michael Palin': 0,
 'Mala Gupta': 0,
 'Peggy Parish': 0,
 'Kris Gethin': 0,
 'Shahid Afridi': 0,
 'Lee Child': 0,
 'Maria Sharapova': 0,
 'Dale Carnegie': 0,
 'Mireille Guiliano': 0,
 'Outlook': 0,
 'Ivan Hissey': 0,
 ' Curtis Tappenden': 0,
 'Don Winslow': 0,
 'Jessica Easto': 0,
 'Diane Setterfield': 0,
 'Barbara Ann Kipfer': 0,
 'Constantin Stanislavski': 0,
 'Vishal Goyal': 0,
 'Anders Ericsson': 0,
 'Marshall Govindan': 0,
 'David Yarrow': 0,
 'Eleanor H. Porter': 0,
 '0': 0,
 ' Kerr': 0,
 ' Wright': 0,
 'Peter V. Brett': 0,
 'Tanmay Bakshi': 0,
 'Howard Gardner': 0,
 'Karen Marie Moning': 0,
 'Longman': 0,
 'Geronimo Stilton': 0,
 'Ian Fleming': 0,
 'Vasuki Belavadi': 0,
 'Pamela Druckerman': 0,
 'Praveen Jha': 0,
 'Claire North': 0,
 'Kiran Millwood Hargrave': 0,
 'Satyajit Ray': 0,
 'Sir Arthur Conan Doyle': 0,
 'S.C.Kapoor': 0,
 'S. P. Gupta': 0,
 'Tallulah May': 0,
 'Michael Pollan': 0,
 'Edward Bach': 0,
 ' F.J. Wheeler': 0,
 'David Burns': 0,
 'Temple Grandin': 0,
 'Cullen Bunn': 0,
 'Amy Poehler': 0,
 'Chandan Deshmukh': 0,
 'Manoj Arora': 0,
 'Keri Smith': 0,
 'Deepak Chopra M.D.': 0,
 'Krishna Gopal Vikal': 0,
 'Marc Marquez': 0,
 'Luis Suarez': 0,
 'Steven Gerrard': 0,
 'R. K. Laxman': 0,
 'S. Vijay Kumar': 0,
 'Alice Sebold': 0,
 'Paulo Coelho': 0,
 'Julie Garwood': 0,
 'Yongey Mingyur Rinpoche': 0,
 'Jerry Pinto': 0,
 'Shiv Aroor': 0,
 'Subroto Bagchi': 0,
 'N. K. Jemisin': 0,
 'Julia Case Bradley': 0,
 ' Anita Millspaugh': 0,
 'Ken Hultgren': 0,
 'Jen Sincero': 0,
 'Lars Kepler': 0,
 'Tiffany Haddish': 0,
 'Pradeep K. Chhibber': 0,
 ' Rahul Verma': 0,
 'Kristin Hannah': 0,
 'Martin Roach': 0,
 'Pierce Brown': 0,
 'Ilika Ranjan': 0,
 'Sparky Sweets PhD': 0,
 'Virginia M. Axline': 0,
 'Y.B. Satyanarayana': 0,
 'Jackie Collins': 0,
 'Patricia Highsmith': 0,
 'Karen Rose': 0,
 'Ramanand Thakur': 0,
 'Bryce G. Hoffman': 0,
 'Tilly Bagshawe Sidney Sheldon': 0,
 'Michael Alexander': 0,

In [126]:
len(author_dict.keys())

4758

In [146]:
df

,Title,Author,Edition,Reviews,Ratings,Synopsis,Genre,BookCategory,Author_count,Book_type,Publish_year,no_of_rating
0,The Prisoner's Gold (The Hunters 3),Chris Kuzneski,"Paperback,– 10 Mar 2016",4.0,8 customer reviews,THE HUNTERS return in their third brilliant no...,Action & Adventure (Books),Action & Adventure,1,Paperback,2016,8
1,Guru Dutt: A Tragedy in Three Acts,Arun Khopkar,"Paperback,– 7 Nov 2012",3.9,14 customer reviews,A layered portrait of a troubled genius for wh...,Cinema & Broadcast (Books),"Biographies, Diaries & True Accounts",1,Paperback,2012,14
2,Leviathan (Penguin Classics),Thomas Hobbes,"Paperback,– 25 Feb 1982",4.8,6 customer reviews,"""During the time men live without a common Pow...",International Relations,Humour,1,Paperback,1982,6
3,A Pocket Full of Rye (Miss Marple),Agatha Christie,"Paperback,– 5 Oct 2017",4.1,13 customer reviews,A handful of grain is found in the pocket of a...,Contemporary Fiction (Books),"Crime, Thriller & Mystery",1,Paperback,2017,13
4,LIFE 70 Years of Extraordinary Photography,Editors of Life,"Hardcover,– 10 Oct 2006",5.0,1 customer review,"For seven decades, ""Life"" has been thrilling t...",Photography Textbooks,"Arts, Film & Photography",1,Hardcover,2006,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1555,100 Things Every Designer Needs to Know About ...,Susan Weinschenk,"Paperback,– 14 Apr 2011",5.0,4 customer reviews,We design to elicit responses from people. We ...,Design,"Computing, Internet & Digital Media",1,Paperback,2011,4
1556,"Modern Letter Writing Course: Personal, Busine...",ARUN SAGAR,"Paperback,– 8 May 2013",3.6,13 customer reviews,"A 30-day course to write simple, sharp and att...",Children's Reference (Books),"Biographies, Diaries & True Accounts",1,Paperback,2013,13
1557,The Kite Runner Graphic Novel,Khaled Hosseini,"Paperback,– 6 Sep 2011",4.0,5 customer reviews,The perennial bestseller-now available as a se...,Humour (Books),Humour,1,Paperback,2011,5
1558,Panzer Leader (Penguin World War II Collection),Heinz Guderian,"Paperback,– 22 Sep 2009",3.5,3 customer reviews,Heinz Guderian - master of the Blitzkrieg and ...,United States History,"Biographies, Diaries & True Accounts",1,Paperback,2009,3
1559,Complete Spanish Step-by-Step,Barbara Bregstein,"Paperback,– 16 Sep 2016",4.5,2 customer reviews,Learn Spanish with the most convenient and eff...,Dictionaries,"Language, Linguistics & Writing",1,Paperback,2016,2

In [147]:
from sklearn.preprocessing import OneHotEncoder

In [151]:
ml_df = pd.get_dummies(df,columns = ['Book_type'])

In [152]:
df['Book_type'].value_counts()

Paperback                6458
Hardcover                1056
Mass Market Paperback     200
Sheet music                32
Flexibound                 19
Cards                       9
Spiral-bound                6
Loose Leaf                  3
Tankobon Softcover          3
Perfect Paperback           1
Board book                  1
Plastic Comb                1
(Kannada)                   1
Product Bundle              1
Library Binding             1
(German)                    1
Leather Bound               1
(French)                    1
(Spanish)                   1
(Chinese)                   1
Name: Book_type, dtype: int64

In [153]:
ml_df

,Title,Author,Edition,Reviews,Ratings,Synopsis,Genre,BookCategory,Author_count,Publish_year,...,Book_type_Library Binding,Book_type_Loose Leaf,Book_type_Mass Market Paperback,Book_type_Paperback,Book_type_Perfect Paperback,Book_type_Plastic Comb,Book_type_Product Bundle,Book_type_Sheet music,Book_type_Spiral-bound,Book_type_Tankobon Softcover
0,The Prisoner's Gold (The Hunters 3),Chris Kuzneski,"Paperback,– 10 Mar 2016",4.0,8 customer reviews,THE HUNTERS return in their third brilliant no...,Action & Adventure (Books),Action & Adventure,1,2016,...,0,0,0,1,0,0,0,0,0,0
1,Guru Dutt: A Tragedy in Three Acts,Arun Khopkar,"Paperback,– 7 Nov 2012",3.9,14 customer reviews,A layered portrait of a troubled genius for wh...,Cinema & Broadcast (Books),"Biographies, Diaries & True Accounts",1,2012,...,0,0,0,1,0,0,0,0,0,0
2,Leviathan (Penguin Classics),Thomas Hobbes,"Paperback,– 25 Feb 1982",4.8,6 customer reviews,"""During the time men live without a common Pow...",International Relations,Humour,1,1982,...,0,0,0,1,0,0,0,0,0,0
3,A Pocket Full of Rye (Miss Marple),Agatha Christie,"Paperback,– 5 Oct 2017",4.1,13 customer reviews,A handful of grain is found in the pocket of a...,Contemporary Fiction (Books),"Crime, Thriller & Mystery",1,2017,...,0,0,0,1,0,0,0,0,0,0
4,LIFE 70 Years of Extraordinary Photography,Editors of Life,"Hardcover,– 10 Oct 2006",5.0,1 customer review,"For seven decades, ""Life"" has been thrilling t...",Photography Textbooks,"Arts, Film & Photography",1,2006,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1555,100 Things Every Designer Needs to Know About ...,Susan Weinschenk,"Paperback,– 14 Apr 2011",5.0,4 customer reviews,We design to elicit responses from people. We ...,Design,"Computing, Internet & Digital Media",1,2011,...,0,0,0,1,0,0,0,0,0,0
1556,"Modern Letter Writing Course: Personal, Busine...",ARUN SAGAR,"Paperback,– 8 May 2013",3.6,13 customer reviews,"A 30-day course to write simple, sharp and att...",Children's Reference (Books),"Biographies, Diaries & True Accounts",1,2013,...,0,0,0,1,0,0,0,0,0,0
1557,The Kite Runner Graphic Novel,Khaled Hosseini,"Paperback,– 6 Sep 2011",4.0,5 customer reviews,The perennial bestseller-now available as a se...,Humour (Books),Humour,1,2011,...,0,0,0,1,0,0,0,0,0,0
1558,Panzer Leader (Penguin World War II Collection),Heinz Guderian,"Paperback,– 22 Sep 2009",3.5,3 customer reviews,Heinz Guderian - master of the Blitzkrieg and ...,United States History,"Biographies, Diaries & True Accounts",1,2009,...,0,0,0,1,0,0,0,0,0,0
1559,Complete Spanish Step-by-Step,Barbara Bregstein,"Paperback,– 16 Sep 2016",4.5,2 customer reviews,Learn Spanish with the most convenient and eff...,Dictionaries,"Language, Linguistics & Writing",1,2016,...,0,0,0,1,0,0,0,0,0,0

In [155]:
ml_df.drop(['Title', 'Author', 'Edition', 'Ratings', 'Synopsis', 'Genre', 'BookCategory'],axis=1, inplace=True)

In [168]:
print(len(ml_df))
print(len(category_df))

7797
7797

In [170]:
print(type(category_df))
print(type(ml_df))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [171]:
pd.concat([ml_df.reset_index(drop=True), category_df.reset_index(drop=True)], axis=1)

,Reviews,Author_count,Publish_year,no_of_rating,Book_type_(Chinese),Book_type_(French),Book_type_(German),Book_type_(Kannada),Book_type_(Spanish),Book_type_Board book,...,Language,Linguistics,Writing,Computing,Internet,Digital Media,Romance,Comics,Mangas,Politics
0,4.0,1,2016,8,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3.9,1,2012,14,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4.8,1,1982,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4.1,1,2017,13,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5.0,1,2006,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7792,5.0,1,2011,4,0,0,0,0,0,0,...,0,0,0,1,1,1,0,0,0,0
7793,3.6,1,2013,13,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7794,4.0,1,2011,5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7795,3.5,1,2009,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7796,4.5,1,2016,2,0,0,0,0,0,0,...,1,1,1,0,0,0,0,0,0,0